@page "/manageGroups"

@inject GroupService GroupService

<h3>ManageGroups</h3>

<input @bind="newGroupName" placeholder="Enter new groupname here" />
<button @onclick="AddGroup">Add group</button>

@if(groups != null)
{
	<ul>
		@foreach(var group in groups)
		{
			<li>
				@group.Name <button @onclick="() => DeleteGroup(group.Id)">Delete</button>
			</li>
		}
	</ul>
}

@code {
	private List<Group> groups;
	private string newGroupName;

	protected override async Task OnInitializedAsync()
	{
		groups = await GroupService.GetAllGroupsAsync();
	}

	private async Task AddGroup()
	{
		if (!string.IsNullOrEmpty(newGroupName))
		{
			var group = new Group
				{
					Name = newGroupName
				};

			await GroupService.AddGroupAsync(group);

			groups = await GroupService.GetAllGroupsAsync();

			newGroupName = string.Empty;
		}
	}

	private async Task DeleteGroup(int id)
	{
		await GroupService.DeleteGroupAsync(id);
		groups = await GroupService.GetAllGroupsAsync();
	}

}
