@page "/managePermissions"

@inject PermissionService PermissionService


<h3>ManagePermissions</h3>

<input @bind="newPermissionName" placeholder="Enter new permission name here" />
<button @onclick="AddPermission">Add permission</button>

@if(permissions != null)
{
	<ul>
		@foreach(var permission in permissions)
		{
			<li>@permission.Name 
				<button @onclick="()=> DeletePermission(permission.Id)">Delete permission</button>
			</li>
		}
	</ul>
}



@code {
	private List<Permission> permissions;
	private string newPermissionName;

	protected override async Task OnInitializedAsync()
	{
		permissions = await PermissionService.GetAllPermissionsAsync();
	} 

	private async Task AddPermission()
	{
		if (!string.IsNullOrEmpty(newPermissionName))
		{
			var permission = new Permission
				{
					Name = newPermissionName
				};

			await PermissionService.AddPermissionAsync(permission);

			permissions = await PermissionService.GetAllPermissionsAsync();

			newPermissionName = string.Empty;
		}
	}

	private async Task DeletePermission(int id)
	{
		await PermissionService.DeletePermissionAsync(id);
		permissions = await PermissionService.GetAllPermissionsAsync();
	}

}
